* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bricolage Grotesque", sans-serif;
}

/* Navbar Section CSS */
.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 999;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar-item {
}

.navbar-links {
  color: rgb(236, 235, 235);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  text-shadow: 0px 0px 10px rgba(0.5, 0.5, 0.5, 0.5);
}

.navbar-links:hover {
  text-decoration: underline;
}

.white-links {
  color: rgb(236, 235, 235) !important;
}

#navbar-logo {
  display: flex;
  align-items: center;
}
#navbar-logo img {
  width: 100px;
  height: auto;
}

/* Hero Section CSS */

.main {
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
  background-size: cover;
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-image: url(/images/homepage.jpg);
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  max-height: auto;
  margin: 0;
  top: -100px;
}

.main-content {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(236, 235, 235);
}
.main-content h1 {
  font-size: 110px;
  color: rgb(236, 235, 235);
  text-shadow: 0px 0px 10px rgba(0.8, 0.8, 0.8, 0.8);
}

.main-content h2 {
  text-shadow: 0px 0px 10px rgba(1, 1, 1, 1);
}

.scroll-button {
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: rgb(236, 235, 235);
  text-shadow: 0px 0px 10px rgba(0.8, 0.8, 0.8, 0.8);
  font-size: 50px;
  transition: transform 0.3s ease;
}

.scroll-button:hover {
  transform: translateY(5px);
}
